body {
    font-family: Arial, sans-serif;
    background-color: #2e2e2e;
    color: #f2f2f2;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
    color: #ffd700;
    margin-bottom: 20px;
}

.spiritual-message {
    font-size: 1.2rem;
    color: #9c27b0;
    margin-bottom: 30px;
    font-style: italic;
}

.spread-selection button {
    background-color: #9c27b0;
    color: #fff;
    border: none;
    padding: 15px;
    margin: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 5px;
}

.spread-selection button:hover {
    background-color: #673ab7;
}

.picked-cards img {
    max-width: 250px;
    max-height: 350px;
    margin: 10px;
    object-fit: contain;
    display: inline-block;
}

.drawn-cards-message {
    font-size: 1.2rem;
    margin-top: 20px;
    color: #fff;
    font-style: italic;
}

#spreadExplanation {
    margin-top: 30px;
    color: #f2f2f2;
}
